* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
    height: 100%;
    background-color: #CADBE7;
}

/* Estilo para o botão */
button {
    color: #fff;
    background-color: #26C1E3;       /* Cor de fundo do botão */
    font-size: 15px;                  /* Tamanho da fonte */
    padding: 20px 40px;               /* Ajusta o tamanho do botão */
    border-radius: 25px;              /* Bordas arredondadas */
    border: none;                     /* Remove a borda padrão */
    cursor: pointer;                 /* Define o cursor como pointer */
    margin-top: 20px;                 /* Espaço entre o banner e o botão */
    transition: all 0.5s;
} 

button:hover {
    padding: 21px 41px; 
    background-color: #1B4769;
}

h2, h4 {
    color: #fff;
    padding-top: 20px;
    padding-left: 20px;
}

nav {
    width: 100%;
    background-color: #1B4769; /* Cor de fundo da barra de navegação, ajuste conforme necessário */
    border-bottom-left-radius: 25px;  /* Arredonda o canto inferior esquerdo */
    border-bottom-right-radius: 25px; /* Arredonda o canto inferior direito */
    padding: 50px 20px;
    box-shadow: 0 6px 10px #072894;
}

.barra-navegacao {
    display: flex;
    align-items: center; /* Alinha todos os itens verticalmente */
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
    position: relative;
}

.search-container {
    position: absolute;
    left: 20px;  /* Faz com que a barra de pesquisa fique à esquerda */
    max-width: 300px;
}

.navbar-buttons {
    margin-left: auto; /* Empurra os botões para a direita */
    color: #26C1E3;
    display: flex; /* Se os botões estiverem dentro de um contêiner, use flexbox */
    justify-content: flex-end;
}

/* Estilos para a logo */
.navbar-logo {
    position: absolute; /* Usa posição absoluta para centralizar a logo */
    left: 50%; /* Posiciona o centro da logo no meio da navbar */
    transform: translateX(-50%); /* Ajusta a logo para que o centro esteja exato no meio */
    width: 100%;
    max-width: 80px;  /* Garante que a logo não ultrapasse a largura da navbar */
}

/* Estilos para o botão de pesquisa */
.search-input {
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 16px;
    width: 100%;
    padding-right: 30px; /* Espaço extra para o ícone */
    background-color: #26C1E3;
}

.search-icon {
    position: absolute;
    top: 50%;
    width: 25px;
    right: 10px;  /* Move o ícone para a direita */
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

.search-button:hover {
    background-color: #072894;
}

/* Efeito de hover no botão */
.nav-btn {
    margin-right: 50px;
    cursor: pointer;
}

.nav-btn img {
    transition: all 0.5s;
}

.nav-btn img:hover {
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    background-color: #072894;
}

/* Estilo para o header */
header {
    display: flex;                  /* Ativa o modelo Flexbox */
    flex-direction: column;         /* Organiza os itens verticalmente */
    justify-content: flex-start;    /* Alinha os itens no topo */
    align-items: center;            /* Centraliza horizontalmente */
}

/* Estilo para o banner */
.container-banner {
    margin-top: 20px;
    width: 100%;
    height: 80vh;
    background-image: url(../img/banner\ principal\ I.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    flex-grow: 1;                   /* Faz o banner ocupar o maior espaço possível */
    
}

.container-pecas {
    height: 80vh;
    display: grid; /* Define o layout como grid */
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas iguais */
    gap: 20px; /* Espaço entre os itens do grid */
    padding: 20px; /* Espaçamento interno no container */
    justify-items: center; /* Centraliza os cards horizontalmente nas colunas */
}

.peca {
    position: relative;
    display: inline-block;
    width: 100%; /* A peça deve ocupar todo o espaço disponível */
    max-width: 300px; /* Largura máxima da peça */
    height: 100%;
    max-height: 450px;
    margin-top: 120px;
}

.peca img {
    width: 100%;
    height: auto;
    max-height: 400px; /* Garante que a altura máxima da imagem não ultrapasse 400px */
    display: block; /* Remove o espaço abaixo da imagem */
    object-fit: cover; /* Garante que a imagem cubra todo o espaço sem cortar, mantendo a proporção */
}

.btn-peca {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* O botão ocupará toda a largura da imagem */
    height: 15%; /* O botão terá 15% da altura da imagem */
    background-color: #26C1E3;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #fff; /* Cor do texto */
    box-sizing: border-box; /* Faz o botão se ajustar dentro do contêiner */
}

.btn-peca:hover {
    background-color: #1B4769;
}

.btn-peca a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center; /* Garante que o texto dentro do botão fique centralizado */
    padding: 0; /* Remove o padding do link para garantir que fique colado */
    margin: 0; /* Remove margens para garantir que fique colado à borda do botão */
}


#cadastro {
    background-image: url(../img/ns\ do\ rosario.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh; /* 100% da altura da tela */
    margin: 0; /* Remove qualquer margem */
    justify-content: space-between; /* Espaça os itens entre si */
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    align-items: center; /* Alinha verticalmente no centro da seção */
    padding: 20px;
    
}
.form-container {
    background-color: #507FA9;
    padding: 40px 60px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 450px;
    margin: 20px;
    margin-right: 100px;
}

.form-container form {
    text-align: center; /* Centraliza o botão */
    background-color: #507FA9;

}

.form-container h3 {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-bottom: 30px; /* Ajuste para espaçar do conteúdo abaixo */
    color: #fff; /* Cor do texto */
    font-size: 20px; /* Ajuste o tamanho do texto conforme necessário */
    padding: 0; /* Remover padding para evitar deslocamentos */
    position: relative; /* Para evitar que o título saia da área do formulário */

}

.form-container button {
    justify-items: center;
    align-items: center;
}

.form-group {
    margin-bottom: 30px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #CADBE7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;
    appearance: none; /* Remove o estilo nativo do select */
}

.container-depoimentos {
    height: 80vh;
    background-color:  #1B4769;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-top: 20px;
}

.card-container {
    display: grid; /* Layout grid para os cards */
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px; /* Espaço entre os cards */
    padding: 20px; /* Espaçamento interno */
    justify-items: center; /* Centraliza os cards nas colunas */
}

.card {
    background-color: white;
    width: 400px; /* Largura fixa */
    height: 300px; /* Altura fixa */
    border-radius: 50px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.1s ease;
    text-align: center; /* Centraliza o conteúdo do card */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    justify-content: space-between; /* Garante que o conteúdo seja distribuído verticalmente */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container-depoimentos h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    padding: 0;
}

.card h3 {
    font-size: 18px; /* Ajuste o tamanho do título conforme necessário */
    margin: 0 0 20px 0; /* Margem abaixo do título para afastar do conteúdo */
    color: #333; /* Cor do título */
}

.card p {
    font-size: 14px; /* Tamanho do parágrafo */
    color: #555; /* Cor do texto */
    line-height: 1.6; /* Espaçamento entre as linhas */
    flex-grow: 1; /* Faz o parágrafo ocupar o espaço restante */
    display: flex;
    justify-content: center; /* Centraliza o parágrafo horizontalmente */
    align-items: center; /* Centraliza o parágrafo verticalmente */
}


.rodape{
    background-color: #507FA9;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
    border-top-left-radius: 60px ;
    border-top-right-radius: 60px;
    border: 10px solid #CADBE7;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}

.rodape-div-3-coluna {
    text-align: center; /* Centraliza todo o conteúdo dentro da div */
}


.rodape-div-3-coluna a {
    display: block; /* Faz o link ocupar a linha inteira */
    margin-top: 10px; /* Espaçamento entre o texto e o link */
}

.rodape-div-3-coluna img {
    width: 50px; /* Tamanho fixo da imagem */
}
.rodape-div-3-coluna img:hover{
    background-color: #1B4769;
}

.rodape span{
    
    font-size: 20px;
    color: white;
}
.rodape-direitos {
    width: 100%; /* Garante que a div ocupe toda a largura disponível */
    background-color: #072894;
    padding: 10px;
    margin: 0;
    text-align: center; /* Centraliza o texto dentro da div */
    color: white; /* Define a cor do texto para branco */
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

/*mobile*/
@media (max-width: 768px) {
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
        width: calc(50% - 20px);
        padding: 10px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
}










