* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    overflow-x: hidden;
    height: 100%;
    background-color: #CADBE7;
}
.barra-navegacao {
    background-color: #1B4769;
    border-radius: 25px;
}
.button-montar{
    background-color: #26C1E3;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 60px;

}
.img-pecas{
    background-color: #26C1E3;
    

}
.form-group{
    margin-bottom: 20px;
}
.form-group input, select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #507FA9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    
}

form {
    background-color: #507FA9;
    height: 560px;
    
}
.form-control{
    background-color: #CADBE7;
    height: 50px;

}
footer{
    background-color: #507FA9;
}
#depoimentos{
    background-color: #1B4769;
    border-radius: 60px;
}
.card-depoimentos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;

}
.card{
    background-color: #F2E8E7;
    width: 550px;
    height: 230px;
    border-radius: 60px; 
    box-shadow: 0 4px 8px rgba(29, 157, 216, 0.1);
    overflow: hidden;
    transition: transform 0.1s ease;
    text-align: center;
    padding: 20px; 
}
.card-hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(2, 74, 122, 0.2);
}
.card h2 {
    font-size: 14px;
}
.card p{
    font-size: 20px;
    color: rgb(85, 85, 85);
    line-height: 1.6;
}
.card-content{
    justify-content: center;
    align-items: center;
}
footer{
    border-radius: 60px;
}
.btn-rodape{
    background-color: #F2E8E7;
    border-radius: 100px;
}
.endereco{
    justify-content: center;
    align-items: center;
}
.container-footer{
    display: flex;
}
.textos-principais{
    align-items: center;
    justify-content: center;

}



