* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
    height: 100%;
    background-color: #CADBE7;
}

/* Estilo para o botão */
button {
    color: #fff;
    background-color: #26C1E3;       /* Cor de fundo do botão */
    font-size: 15px;                  /* Tamanho da fonte */
    padding: 20px 40px;               /* Ajusta o tamanho do botão */
    border-radius: 25px;              /* Bordas arredondadas */
    border: none;                     /* Remove a borda padrão */
    cursor: pointer;                 /* Define o cursor como pointer */
    margin-top: 20px;                 /* Espaço entre o banner e o botão */
    transition: all 0.5s;
} 

button:hover {
    padding: 11px 21px; 
    background-color: #1B4769;
}

h2, h4 {
    color: #fff;
    padding-top: 20px;
    padding-left: 20px;
}

nav {
    width: 100%;
    background-color: #1B4769; /* Cor de fundo da barra de navegação, ajuste conforme necessário */
    border-bottom-left-radius: 25px;  /* Arredonda o canto inferior esquerdo */
    border-bottom-right-radius: 25px; /* Arredonda o canto inferior direito */
    padding: 10px 20px;
    box-shadow: 0 6px 10px #072894;
}

.barra-navegacao {
    display: flex;
    align-items: center; /* Alinha todos os itens verticalmente */
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
    position: relative;
}

.search-container {
    position: absolute;
    left: 20px;  /* Faz com que a barra de pesquisa fique à esquerda */
    max-width: 300px;
}

.navbar-buttons {
    margin-left: auto; /* Empurra os botões para a direita */
    color: #26C1E3;
    display: flex; /* Se os botões estiverem dentro de um contêiner, use flexbox */
    justify-content: flex-end;
}

.nav-btn {
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para a logo */
.navbar-logo {
    position: absolute; /* Usa posição absoluta para centralizar a logo */
    left: 50%; /* Posiciona o centro da logo no meio da navbar */
    transform: translateX(-50%); /* Ajusta a logo para que o centro esteja exato no meio */
    height: 200px; /* Ajuste o tamanho da logo conforme necessário */
    width: auto;
    max-height: 100%; /* Garante que a logo não ultrapasse a altura da navbar */
    max-width: 100%;  /* Garante que a logo não ultrapasse a largura da navbar */
}

/* Estilos para o botão de pesquisa */
.search-input {
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 16px;
    width: 100%;
    padding-right: 30px; /* Espaço extra para o ícone */
    background-color: #26C1E3;
}

.search-icon {
    position: absolute;
    top: 50%;
    width: 25px;
    right: 10px;  /* Move o ícone para a direita */
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

.search-button:hover {
    background-color: #072894;
}

/* Efeito de hover no botão */
.nav-btn img {
    transition: all 0.5s;
}

.nav-btn img:hover {
    width: 50px;
    border-radius: 25%;
}



/* Estilo para o header */
header {
    display: flex;                  /* Ativa o modelo Flexbox */
    flex-direction: column;         /* Organiza os itens verticalmente */
    justify-content: flex-start;    /* Alinha os itens no topo */
    align-items: center;            /* Centraliza horizontalmente */
}

/* Estilo para o banner */
.container-banner {
    margin-top: 20px;
    width: 100%;
    height: 70vh;
    background-image: url(../img/banner\ principal\ I.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    flex-grow: 1;                   /* Faz o banner ocupar o maior espaço possível */
    
}

.container-pecas{
    height: 70vh;
    display: grid; /* Define o layout como grid */
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas iguais */
    gap: 20px; /* Espaço entre os itens do grid */
    padding: 20px; /* Espaçamento interno no container */
    justify-items: center; /* Centraliza os cards horizontalmente nas colunas */
}

.peca{
    position: relative;
    display: inline-block;
}

.peca img {
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 300px; /* Altere conforme necessário */
}

.btn-peca {
    position: absolute;
    bottom: 0;
    font-size: 24px;
    background-color: #26C1E3;
    cursor: pointer;
    width: 100%;
    height: 15%; /* Altura da parte inferior da imagem que será preenchida */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.btn-peca:hover{
    background-color: #1B4769;
}

.btn-peca a{
    text-decoration: none;
    color: #fff;
}


#cadastro {
    background-image: url(../img/ns\ do\ rosario.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh; /* 100% da altura da tela */
    margin: 0; /* Remove qualquer margem */
    justify-content: space-between; /* Espaça os itens entre si */
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    align-items: center; /* Alinha verticalmente no centro da seção */
    height: 100vh; /* Garante que a altura ocupe toda a tela ou a altura desejada */
    padding: 20px;
    
}
.form-container {
    background-color: #507FA9;
    padding: 40px 60px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 450px;
    margin: 20px;
    margin-right: 100px;
}

.form-container form {
    text-align: center; /* Centraliza o botão */
    background-color: #507FA9;

}

.form-container h3 {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-bottom: 30px; /* Ajuste para espaçar do conteúdo abaixo */
    color: #fff; /* Cor do texto */
    font-size: 20px; /* Ajuste o tamanho do texto conforme necessário */
    padding: 0; /* Remover padding para evitar deslocamentos */
    position: relative; /* Para evitar que o título saia da área do formulário */
   
}

.form-container button {
    justify-items: center;
    align-items: center;
}

.form-group {
    margin-bottom: 30px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #CADBE7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;
    appearance: none; /* Remove o estilo nativo do select */
}

.container-depoimentos{
    height: 120vh;
    background-color:  #1B4769;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 20px; /* Adiciona um espaçamento interno no topo do contêiner */
}

.card-container {
    display: grid; /* Define o layout como grid */
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas iguais */
    gap: 20px; /* Espaço entre os itens do grid */
    padding: 20px; /* Espaçamento interno no container */
    justify-items: center; /* Centraliza os cards horizontalmente nas colunas */
}

.card {
    margin-top: 15vh;
    background-color: white; /* Cor de fundo branca para o card */
    width: 400px; /* Largura do card */
    height: 300px; /* Altura do card */
    border-radius: 50px;/* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidade */
    overflow: hidden; /* Garante que conteúdo extra fora do card seja escondido */
    transition: transform 0.1s ease; /* Animação suave ao passar o mouse */
    text-align: center; /* Centraliza o conteúdo dentro do card */
    padding: 20px; /* Espaçamento interno do card */
}
.card:hover {
    transform: translateY(-10px); /* Move o card para cima */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
}
.container-depoimentos h2 {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-bottom: 30px; /* Ajuste para espaçar do conteúdo abaixo */
    margin-top: 20px; /* Ajusta a margem superior para afastar o título do limite superior da seção */
    color: #fff; /* Cor do texto */
    font-size: 20px; /* Ajuste o tamanho do texto conforme necessário */
    padding: 0; /* Remove padding */
    position: relative; /* Para evitar que o título saia da área do formulário */
}


.card p {
    font-size: 12px; /* Tamanho da fonte do parágrafo */
    color: #555; /* Cor do texto (cinza claro) */
    line-height: 1.6; /* Espaçamento entre linhas do texto */
}
.card-content {
    justify-items: center; /* Centraliza os itens horizontalmente dentro do grid */
    align-items: center; /* Centraliza os itens verticalmente dentro do grid */
}    

footer{
    background-color: #507FA9;
}

footer {
    border-top-left-radius: 25px;  /* Arredonda o canto superior esquerdo */
    border-top-right-radius: 25px; /* Arredonda o canto superior direito */
    
}
/* Para o botão de 'formas-contato', que vai ficar no canto esquerdo */
footer .formas-contato {
    display: flex;               /* Ativa o Flexbox dentro dessa div */
    flex-direction: column;      /* Coloca os itens em coluna (um embaixo do outro) */
    text-align: left;            /* Alinha o conteúdo à esquerda */
    gap: 10px;                   /* Espaço entre os botões */
    width: 278px;
    height: 46;
    border-radius: 100px;
}

/* Para o botão de 'endereco', que vai ficar no centro */
footer .endereco {
    text-align: center; /* Centraliza o conteúdo */
}

/* Para o botão de 'redes-sociais', que vai ficar no canto direito */
footer .redes-sociais {
    text-align: right;  /* Alinha o conteúdo à direita */
    
}








